<div><h1>This is your record in database </h1>
<.list>
  <:item title="Id">{@crud.id}</:item>
  <:item title="Name">{@crud.name}</:item>
  <:item title="Status">{@crud.status}</:item>
</.list>
  <.back navigate={~p"/list"}>Back to List</.back>
</div>

